{% extends "master.html" %}

{% block title %}
  Crear Matrícula - Topic Listing
{% endblock %}

{% block content %}
<div class="bg-primary text-white py-4">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="display-5">Crear Nueva Matrícula</h1>
            </div>
        </div>
    </div>
</div>

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form method="post" class="custom-form">
                {% csrf_token %}
                {{ formulario.as_p }}
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <a href="{% url 'index' %}" class="btn custom-btn custom-border-btn me-md-2">Cancelar</a>
                    <button type="submit" class="btn custom-btn">Guardar Matrícula</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}