{% extends "master.html" %}

{% block title %}
  Crear Módulo - Topic Listing
{% endblock %}

{% block content %}
<div class="bg-warning text-white py-4">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="display-5">Crear Nuevo Módulo</h1>
            </div>
        </div>
    </div>
</div>

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form method="post" class="custom-form">
                {% csrf_token %}
                
                <div class="mb-3">
                    <label for="{{ formulario.nombre.id_for_label }}" class="form-label">Nombre del Módulo:</label>
                    {{ formulario.nombre }}
                    {% if formulario.nombre.errors %}
                        <div class="text-danger mt-1">{{ formulario.nombre.errors }}</div>
                    {% endif %}
                </div>

                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <a href="{% url 'ver_modulos' %}" class="btn custom-btn custom-border-btn me-md-2">Cancelar</a>
                    <button type="submit" class="btn custom-btn">Guardar Módulo</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
